/* Общие стили для контейнера */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

/* Стили для основного раздела */
.my-registration-form {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовков и текстов */
.lead {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

/* Стили для формы */
.mb-3 {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.2s, box-shadow 0.2s;
}

/* Стили для ошибки */
.alert {
    margin-top: 10px;
}

/* Стили кнопки */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Стили для адаптивности */
@media(max-width: 767px) {
    .col-6 {
        max-width: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
input[type="number"] {
    padding: 10px;
    margin-right: 10px;
    width: 600px;
}
button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
}
#trainButton {
    background-color: #007BFF; /* Синий для обучения */
}
#stopButton {
    background-color: #dc3545; /* Красный для остановки */
}
#pauseButton {
    background-color: #28a745; /* Зеленый для паузы */
}
#resumeButton {
    background-color: #ffc107; /* Желтый для возобновления */
}
#predictButton {
    background-color: #6f42c1; /* Фиолетовый для прогноза */
}
button:hover {
    opacity: 0.9; /* Немного уменьшаем непрозрачность при наведении */
}
/* ----------------------  стили для поле ввода к llm ------------------------- */
/*#chat-container {*/
/*    position: fixed;*/
/*    left: 1170px;*/
/*} при параметре position: fixed не работает нейронка странно*/
#chat-container {
    position: fixed;
    left: 1200px;
    width: 470px;
}

#response-box {
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    overflow-y: auto;
    white-space: pre-wrap;
    background-color: rgba(0, 123, 255, 0.6);
    border-radius: 10px;

}
#input-box {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
}

/* --------------------------------   стили для вывода данных tcp -------------------- */

#view-container-tcp {
    position: absolute;
    max-width: 1200px;
    left: 350px;
    top: 200px;

}
/* ---------------------------- стили для поиска id оборудования ---------------------- */
#search_id_equipment {
    position: absolute;
    top: 30px;
    left: 350px;
    max-width: 1200px;
}


/* ------------------------------для вывода оборудования---------------------------------- */
#equipment_show {
    width: 350px;
    left: 10px;
    position: absolute;
}

#btns {
    position: relative;
    width: 350px;
}

#add_equipment {
    position: relative;
    max-width: 170px;
}

#delete_equipment {
    position: relative;
    max-width: 170px;
    left: 30px;
}
/*--------------------------------для анимации ошибки-------------------------------------------*/
.alert-dismissible {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1050;
        transition: opacity 0.5s ease-out;
}