{% extends './base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}


{% block pagination %}
<div class="container">
    <h2>Управление обучением модели</h2>

    <input type="number" placeholder="Количество эпох" id="epochsInput">
    <button id="trainButton">Обучать</button>

    <div style="margin-top: 20px;">
        <button id="pauseButton">Пауза</button>
        <button id="stopButton">Остановить обучение</button>
        <button id="resumeButton">Возобновить обучение</button>
        <button id="predictButton">Спрогнозировать</button>
    </div>
</div>
    
<div id="chat-container">
    <div id="response-box"></div>
    <input type="text" id="input-box" placeholder="Введите ваш запрос...">
    <button onclick="sendMessage()">Отправить</button>
</div>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
