{% extends './base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/alert.js' %}"></script>
{#проверка на зарегистрированного пользователя    #}
{% if user.is_authenticated %}



{#чат с искуственным интелектом     #}
<div id="chat-container">
    <div id="response-box"></div>
    <input type="text" id="input-box" placeholder="Введите ваш запрос...">
    <button onclick="sendMessage()">Отправить</button>
</div>
    
{#поиск оборудования    #}
<div class="container mt-5" id="search_id_equipment">

    <form method="POST" action="{% url 'index' %}" class="mb-4">
        {% csrf_token %}
        <div class="row g-3 align-items-center">
            <!-- Поле поиска -->
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" 
                           class="form-control" 
                           id="id_query" 
                           name="query" 
                           placeholder="">
                    <label for="id_query">Поиск оборудования</label>
                </div>
            </div>

            
            <!-- Кнопка поиска -->
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100 h-100" onclick="sendEquipment()">
                    Найти
                </button>
            </div>
        </div>
    </form>
</div>

{#    ошибка при не нахождении оборудования#}
{% if error %}
<div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
    {{ error }}
</div>
{% endif %}

{#вывод информации о tcp подключениях#}
<div id="view-container-tcp"> 
    <div class="container mt-4">
        <h1>Последние пакеты</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Оборудование</th>
                    <th>Время</th>
                    <th>Источник</th>
                    <th>Назначение</th>
                    <th>Протокол</th>
                    <th>Детали</th>
                </tr>
            </thead>
            <tbody>
                {% for packet in packets %}
                <tr>
                    <td>{{ packet.equipment_id.name }}</td>
                    <td>{{ packet.timestamp }}</td>
                    <td>{{ packet.source_ip }}</td>
                    <td>{{ packet.destination_ip }}</td>
                    <td>{{ packet.protocol }}</td>
                    <td>{{ packet.details }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
</div>
    
{#вывод информации о добавленных оборудованиях#}
<div id="equipment_show">    
    <h2>Оборудования</h2>
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th>Название</th>
                <th>IP-адресс</th>
            </tr>
        </thead>
        <tbody>
            {% for equipment in equipments %}
            <tr class="table-info">
                <td>{{ equipment.name }}</td>
                <td>{{ equipment.ipaddress }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div id="btns" class="row">
        {#кнопка добавления оборудования#}
        <div id='add_equipment'>
            <a href="{% url 'add_equipment' %}" class="btn btn-primary">
                Добавить оборудование
            </a>
        </div>
        
        {#кнопка удаления оборудования#}
        <div id='delete_equipment'>
            <a href="{% url 'equipment_list' %}" class="btn btn-danger">
                Удалить оборудование
            </a>
        </div>
    </div>
</div>
{# не авторизованный пользователь    #}
{% else %}
<div class="container-fluid vh-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 text-center bg-white rounded-4 shadow-lg p-5 bg-opacity-75">
            <!-- Заголовок -->
            <div class="mb-5">
                <h2 class="display-5 fw-bold mb-3 text-primary">
                    Здравствуй, дорогой пользователь
                </h2>
                <p class="lead text-primary">
                    Хотите зарегистрироваться или войти в систему?
                </p>
            </div>

            <!-- Кнопки -->
            <div class="d-flex flex-column flex-md-row gap-4 justify-content-center align-items-center">
                {% if request.get_full_path == '/signin/' %}
                    <a href="{% url 'signin' %}"
                       class="btn btn-lg btn-primary py-3 px-5 fs-4 fw-bold shadow-sm active">
                        Войти
                    </a>
                {% else %}
                    <a href="{% url 'signin' %}"
                       class="btn btn-lg btn-primary py-3 px-5 fs-4 fw-bold shadow-sm">
                        Войти
                    </a>
                {% endif %}

                {% if request.get_full_path == '/signup/' %}
                    <a href="{% url 'signup' %}"
                       class="btn btn-lg btn-success py-3 px-5 fs-4 fw-bold shadow-sm active">
                        Регистрация
                    </a>
                {% else %}
                    <a href="{% url 'signup' %}"
                       class="btn btn-lg btn-success py-3 px-5 fs-4 fw-bold shadow-sm">
                        Регистрация
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
